

<div class="jumbotron">
  <center>
    <h1><%= @pizza.name %></h1>
    <img src="https://41.media.tumblr.com/e3ad1e9254b5cc5e8740d1875b6988ec/tumblr_mtyig3ELbq1s5mrlho1_500.jpg">
  </center>
    <h3>Crust: <%= @pizza.crust %></h3>
    <h3>Sauce: <%= @pizza.sauce %></h3>
    <h3>Toppings: <%= @pizza.toppings %></h3>
    <h3>Cost: $<%= @pizza.cost %></h3>
</div>